PORT=3000
DB_NAME=wkgt_v2
DB_USER=root
DB_PASS=
DB_HOST=localhost
DB_PORT=3306
JWT_SECRET=sangat_rahasia_jangan_dibocorkan
NODE_ENV=development

# Bucket Storage
R2_BUCKET_NAME=wkgt
R2_ENDPOINT=https://ba9ea0d61e62a85a770847d350858ce4.r2.cloudflarestorage.com/wkgt
R2_ACCESS_KEY_ID=e81cd6bedc07512b94e2b00a4c728519
R2_SECRET_ACCESS_KEY=eb9cc8c789d6b81ebdd3210fb26d082f5743db2d8777e23875af07fb309f748f
R2_PUBLIC_URL=https://wahana.wkgt-asset.online
