@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: "Geist", sans-serif;
}

@theme static {
  --color-cyan-50: #f0faff;
  --color-cyan-100: #dff4ff;
  --color-cyan-200: #b8eaff;
  --color-cyan-300: #7adaff;
  --color-cyan-400: #33c9fd;
  --color-cyan-500: #09b2ee;
  --color-cyan-600: #0090cc;
  --color-cyan-700: #0072a5;
  --color-cyan-800: #046088;
  --color-cyan-900: #094b6a;
  --color-cyan-950: #06324b;
  --color-tone: var(--color-slate-950);
}

@utility container {
  @apply mx-auto px-2 md:px-4 lg:px-8;
}

:root {
  --ui-bg: var(--color-slate-50);
  --ui-primary: var(--ui-color-primary-600);
}

.dark {
  --ui-bg: var(--color-slate-950);
  --ui-primary: var(--ui-color-primary-400);
  --color-tone: var(--color-slate-50);
}
