@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --color-gulf-blue-50: #eaf3ff;
  --color-gulf-blue-100: #d9e8ff;
  --color-gulf-blue-200: #bbd3ff;
  --color-gulf-blue-300: #93b5ff;
  --color-gulf-blue-400: #688aff;
  --color-gulf-blue-500: #4560ff;
  --color-gulf-blue-600: #2432ff;
  --color-gulf-blue-700: #1923e9;
  --color-gulf-blue-800: #1822bb;
  --color-gulf-blue-900: #1c2693;
  --color-gulf-blue-950: #101451;
}

@utility container {
  @apply mx-auto px-2 md:px-4 lg:px-8;
}

:root {
  --ui-primary: var(--ui-color-primary-950);
}

.dark {
  --ui-primary: var(--ui-color-primary-200);
}
